* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* General */
html,
body {
	height: 100%;
	overflow-y: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
}

li {
	list-style: none;
}

/* Header */
.header {
	display: flex;
	justify-content: space-between;
	background: linear-gradient(135deg, #f8e681, #f8ab4c);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 13px 10px 13px 10px;
}

/* Tabs */
.tabs {
	background: linear-gradient(90deg, #fff9e6, #fff6e8, #fff3ea);
	border-bottom: 1px solid #f1f1f1;
	padding: 8px;
}

/* Note List */
.note-list-wrapper {
	background: linear-gradient(90deg, #fff9e6, #fff6e8, #fff3ea);
	border-right: 1px solid #f1f1f1;

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	min-width: 300px;
}

.note-list-header {
	font-size: 16px;
	padding: 8px;
	border-bottom: 1px solid #f1f1f1;
}

.note-list {
	padding: 8px;
}

/* Main Note Content */
.note-content-wrapper {
	width: 100%;
	height: 100%;
	padding-left: 8px;
	padding-right: 8px;
}

.note-title {
	font-size: 20px;
	padding: 12px;
	border-bottom: 1px solid #f1f1f1;
}

.note-content {
	margin-top: 12px;
	padding: 12px;
}

.main-section {
	flex: 1 1 auto;
	display: flex;
}

.content-wrapper {
	width: 100%;
}

/* Footer */
.footer {
	background: linear-gradient(135deg, #f8e681, #f6b76a);
	padding: 2px;
}

/* Social Links */
.social-links {
	display: flex;
	align-items: center;
	font-size: 13px;

	gap: 7px;

	a {
		color: #333333;
	}

	a:hover {
		color: #555555;
	}
}
