* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* General */
html,
body {
	height: 100%;
	overflow-y: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

/* Header */
.header {
	display: flex;
	justify-content: space-between;
	background: linear-gradient(135deg, #fff09a, #ffd6a5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 8px 20px 8px 20px;
}

.header-menu {
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

.header-menu .account-name .hidden {
	display: none;
}

.menu-items {
	color: #333333;
}

.menu-toggle-open,
.menu-toggle-close {
	width: 20px;
	cursor: pointer;
}

.header-modal.hidden {
	transform: translate(0, -250px);
	transition: transform 0.2s ease-in-out;
}

.header-modal {
	position: absolute;
	top: 0;
	right: 0;
	width: 250px;
	padding: 10px 20px 0px 20px;
	background: linear-gradient(90deg, #fff9e6, #fff6e8, #fff3ea);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	z-index: 9999;

	transition: transform 0.2s ease-in-out;
}

.header-modal-content {
	li {
		cursor: pointer;
		width: 100%;
		padding: 10px 0px;
		border-bottom: 1px solid #eeeeee;
	}

	li:hover {
		background: linear-gradient(90deg, #fff9e6, #fff6e8, #fff6e8, #ffe0c7);
	}
}

.header-modal-item.account {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #555555;
}

.header-modal-item.account:hover {
	cursor: default;
	background: none;
}

.header-modal-item.login {
	width: 100%;
	background-color: #f5c386;
	padding: 10px 10px;
	margin: 10px 0px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	color: #fff;
}

.header-modal-item.login:hover {
	background: #fdd29d;
}

.logo {
	img {
		width: 150px;
	}
}

/* Tabs */
.tabs {
	background: linear-gradient(90deg, #fff9e6, #fff6e8, #fff3ea);
	border-bottom: 1px solid #f1f1f1;
}

.tabs-items {
	display: flex;
	align-items: center;
}

.tabs-item {
	display: inline-flex;
	font-size: 12px;
	align-items: center;
	justify-content: space-between;
	padding: 0px 10px;
	width: 150px;
	height: 30px;
	border-right: 1px solid #f1f1f1;
}

.tabs-item p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tabs-item:hover {
	cursor: pointer;
	background: linear-gradient(90deg, #fff9e6, #fff6e8, #fff6e8, #ffe0c7);
}

.tabs-item.active {
	font-size: 13px;
	font-weight: 600;
	background: linear-gradient(90deg, #fff9e6, #fff6e8, #fff6e8, #ffe0c7);
	border-top-right-radius: 4px;
}

/* Note List */
.note-list-wrapper {
	background: linear-gradient(90deg, #fff9e6, #fff6e8, #fff3ea);
	border-right: 1px solid #f1f1f1;

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	min-width: 300px;
}

.note-list-header {
	font-size: 16px;
	padding: 8px 16px;
	border-bottom: 1px solid #f1f1f1;
}

.search-wrapper {
	display: flex;
	position: relative;
	justify-content: center;
	height: 30px;
	background: #fff;
	border-radius: 20px;
}

.search-bar {
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	border-radius: 20px;
}

.search-bar input {
	height: 100%;
	width: 100%;
	border: none;
	border-radius: 20px;
	background: #fff;
	padding-left: 35px;
	font-size: 14px;
}

.fa-magnifying-glass {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #363636;
	font-size: 16px;
}

.note-list-item {
	position: relative;
	background: linear-gradient(90deg, #fff9e6, #fff6e8, #fff6e8, #fff3ea);
	height: 75px;

	border-bottom: 1px solid #f1f1f1;
	border-radius: 4px;
	cursor: pointer;
	padding: 8px 15px;
}

.note-list-item:hover {
	background: linear-gradient(90deg, #fff9e6, #fff6e8, #fff6e8, #ffe0c7);
}

.note-list-title {
	font-size: 16px;
	font-weight: 600;
}

.note-list-subtitle {
	font-size: 14px;
	color: #363636;
}

.note-list-date {
	position: absolute;
	bottom: 8px;
	left: 15px;
	font-size: 12px;
	color: #363636;
}

/* Main Note Content */
.note-content-wrapper {
	width: 100%;
	height: 100%;
	padding-left: 8px;
	padding-right: 8px;
}

.note-title {
	width: 100%;
	font-size: 22px;
	padding: 12px;
	padding-bottom: 6px;
	background: none;
	border: none;
	outline: none;
}

.note-subtitle {
	display: block;
	width: 100%;
	font-size: 16px;
	padding: 12px;
	padding-top: 6px;
	border-bottom: 1px dashed #f1f1f1;
	background: none;
	border: none;
	outline: none;
	border-bottom: 1px solid #f1f1f1;
}

.note-content {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	height: 85%;
	margin-top: 12px;
	font-size: 16px;
	padding: 10px;
	line-height: 1.3;
	background: none;
	border: none;
	outline: none;
	resize: none;
}

.main-section {
	flex: 1 1 auto;
	display: flex;
}

.content-wrapper {
	width: 100%;
	height: 100%;
}

/* Footer */
.footer {
	background: linear-gradient(135deg, #f8e681, #f5c386);
	padding: 2px;
}

/* Social Links */
.social-links {
	display: flex;
	align-items: center;
	font-size: 13px;

	gap: 7px;

	a {
		color: #333333;
	}

	a:hover {
		color: #555555;
	}
}
