* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Default (light mode) Variables */
:root {
	--link-text-color: black;
	--header-bg-color: linear-gradient(135deg, #fff09a, #ffd6a5);
	--menu-items-color: #333333;
	--header-modal-bg-color: linear-gradient(90deg, #fff9e6, #fff6e8, #fff3ea);
	--header-modal-content-hover: linear-gradient(
		90deg,
		#fff9e6,
		#fff6e8,
		#fff6e8,
		#ffe6d2
	);
	--header-modal-items-color-border: #eeeeee;
	--header-modal-item-login-bg: #f5c386;
	--header-modal-item-login-bg-hover: #e9b26b;
	--tabs-bg: linear-gradient(90deg, #fff9e6, #fff6e8, #fff3ea);
	--tabs-hover: linear-gradient(90deg, #fff9e6, #fff6e8, #fff6e8, #ffe0c7);
	--tabs-bg-active: linear-gradient(90deg, #fff9e6, #fff6e8, #fff6e8, #ffe0c7);
	--search-wrapper-bg: #fff;
	--search-bar-bg: #fff;
	--magnifying-glass-color: #363636;
	--tools-color: #363636;
	--hover-label-bg: #333;
	--hover-label-color: #fff;

	--delete-note-hover: #007bff;

	--note-list-wrapper-bg: linear-gradient(90deg, #fff9e6, #fff6e8, #fff3ea);
	--note-list-wrapper-border: #f1f1f1;
	--note-list-item-bg: linear-gradient(
		90deg,
		#fff9e6,
		#fff6e8,
		#fff6e8,
		#fff3ea
	);
	--note-close-btn-bg: #fff3d3;
	--note-list-item-border: #f1f1f1;
	--note-list-item-hover: linear-gradient(
		90deg,
		#fff9e6,
		#fff6e8,
		#fff6e8,
		#ffe0c7
	);
	--note-list-item-active-bg: linear-gradient(
		90deg,
		#fff9e6,
		#fff6e8,
		#fff6e8,
		#ffe0c7
	);
	--note-close-btn-color: #363636;
	--note-close-btn-hover-color: #007bff;

	--placeholder-color: #000;
	--placeholder-opacity: 0.4;

	--note-list-header-border: #f1f1f1;
	--note-subtitle-border: #f0f0f0;

	--tabs-item-border-color: #f3f3f3;
	--tabs-border-color: #f3f3f3;

	--note-list-subtitle-color: #363636;
	--note-list-date-color: #363636;
	--footer-bg: linear-gradient(135deg, #f8e681, #f5c386);
	--social-links-color: #333333;
	--social-links-hover-color: #555555;
}

/* Dark Mode Variables */
.dark-mode {
	--link-text-color: #fff;
	--header-bg-color: linear-gradient(135deg, #323236, #3e3e42);
	--header-modal-items-color: #fff;
	--header-modal-bg-color: linear-gradient(135deg, #1c1c1e, #323236);
	--header-modal-content-hover: linear-gradient(
		90deg,
		#232325,
		#2a2a2c,
		#2a2a2c,
		#323236
	);
	--account-name-color: #fff;
	--header-modal-item-login-bg: #d9a76c;
	--header-modal-item-login-bg-hover: #e9b26b;
	--header-modal-items-color-border: #2b2b2b;
	--tabs-bg: linear-gradient(90deg, #1c1c1e, #1c1c1e, #18181b, #151518);
	--tabs-hover: linear-gradient(90deg, #232325, #2a2a2c, #2a2a2c, #323236);
	--tabs-bg-active: linear-gradient(90deg, #232325, #2a2a2c, #2a2a2c, #131314);
	--tab-color: #fff;
	--tabs-item-border-color: #2b2b2b;
	--tabs-border-color: #2b2b2b;
	--search-wrapper-bg: linear-gradient(
		90deg,
		#232325,
		#2a2a2c,
		#2a2a2c,
		#323236
	);
	--note-close-btn-color: #fff;
	--note-close-btn-hover-color: #007bff;

	--search-bar-bg: #505050;
	--magnifying-glass-color: #fff;
	--tools-color: #fff;
	--hover-label-bg: #000000;
	--hover-label-color: #fff;

	--delete-note-color: #fff;
	--delete-note-hover: #007bff;

	--note-list-wrapper-bg: linear-gradient(
		90deg,
		#1c1c1e,
		#1c1c1e,
		#18181b,
		#151518
	);
	--note-list-wrapper-border: #2b2b2b;
	--note-list-item-bg: linear-gradient(
		90deg,
		#1c1c1e,
		#1c1c1e,
		#18181b,
		#151518
	);
	--note-close-btn-bg: #151518;
	--note-list-item-border: #2b2b2b;
	--note-list-item-hover: linear-gradient(
		90deg,
		#232325,
		#2a2a2c,
		#2a2a2c,
		#323236
	);
	--note-list-item-active-bg: linear-gradient(
		90deg,
		#232325,
		#2a2a2c,
		#2a2a2c,
		#4b4b52
	);

	--placeholder-color: #fff;
	--placeholder-opacity: 0.4;

	--note-list-header-border: #000000;

	--note-title-color: #fff;
	--note-list-subtitle-color: #dfdfdf;
	--note-list-date-color: #dadada;

	--note-content-wrapper-bg: #2b2b2b;
	--note-subtitle-border: #494949;

	--note-title-color: #fff;
	--note-subtitle-color: #fff;
	--note-content-color: #fff;

	--footer-bg: linear-gradient(135deg, #323236, #3e3e42);
	--social-links-color: #eeeeee;
	--social-links-hover-color: #fff;
	--copyright-color: #fff;
}

/* Scrollbar */
/* For WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
	width: 5px; /* Width of the scrollbar */
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background: #ffc1074f; /* Scrollbar thumb color */
	border-radius: 5px; /* Rounded edges for the thumb */
}

::-webkit-scrollbar-thumb:hover {
	background: #ffa2005b; /* Thumb color on hover */
}

::-webkit-scrollbar-track {
	background: none; /* Scrollbar track color */
	border-radius: 5px; /* Optional: match thumb's rounded edges */
}

/* General */
html,
body {
	height: 100%;

	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--link-text-color);
}

a:visited {
	color: var(--link-text-color);
}

/* Header */
.header {
	display: flex;
	justify-content: space-between;
	background: var(--header-bg-color);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 8px 20px 8px 20px;
}

.header-menu {
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

.header-menu .account-name .hidden {
	display: none;
}

.header-menu .account-name {
	color: var(--account-name-color);
}

.header-modal-item {
	color: var(--header-modal-items-color);
}

.menu-toggle-open,
.menu-toggle-close {
	width: 20px;
	cursor: pointer;
}

.header-modal.hidden {
	transform: translate(0, -250px);
	transition: transform 0.2s ease-in-out;
}

.header-modal {
	position: absolute;
	top: 0;
	right: 0;
	width: 250px;
	padding: 10px 20px 0px 20px;
	background: var(--header-modal-bg-color);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	z-index: 9999;

	transition: transform 0.2s ease-in-out;
}

.header-modal-content {
	li {
		cursor: pointer;
		width: 100%;
		padding: 10px 0px;
		border-bottom: 1px solid var(--header-modal-items-color-border);
	}

	li:hover {
		background: var(--header-modal-content-hover);
	}
}

.header-modal-item.account {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #555555;
}

.header-modal-item.account:hover {
	cursor: default;
	background: none;
}

.header-modal-item.login {
	width: 100%;
	background-color: var(--header-modal-item-login-bg);
	padding: 10px 10px;
	margin: 10px 0px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	color: #fff;
}

.header-modal-item.login:hover {
	background: var(--header-modal-item-login-bg-hover);
}

.logo {
	user-select: none;
	img {
		width: 150px;
	}
}

/* Tabs */
.tabs {
	position: relative;
	background: var(--tabs-bg);
	border-bottom: 1px solid var(--tabs-border-color);
	height: 35px;
}

.tabs-items {
	position: absolute;
	display: flex;
	align-items: center;
	height: 100%;
	overflow-x: auto;
	max-width: 100%;
}

.tabs-item {
	display: flex;
	font-size: 12px;
	align-items: center;
	justify-content: space-between;
	padding: 0px 10px;
	min-width: 150px;
	height: 100%;
	border-right: 1px solid var(--tabs-item-border-color);
	color: var(--tab-color);
}

.tabs-item p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tabs-item:hover {
	user-select: none;
	background: var(--tabs-hover);
}

.tabs-item.active {
	font-size: 13px;
	font-weight: 600;
	background: var(--tabs-bg-active);
	border-top-right-radius: 4px;
}

.close-button:hover {
	cursor: pointer;
	color: red;
}

/* Note List */
.note-list-header {
	display: flex;
	gap: 8px;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	padding: 6px 8px;
	border-bottom: 1px solid var(--note-list-header-border);
}

.search-wrapper {
	display: flex;
	position: relative;
	width: 100%;
	height: 30px;
	background: var(--search-wrapper-bg);
	border-radius: 20px;
}

.search-bar {
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	border-radius: 20px;
}

.search-bar input {
	height: 100%;
	width: 100%;
	border: none;
	border-radius: 20px;
	background: var(--search-bar-bg);
	padding-left: 35px;
	font-size: 14px;
}

.fa-magnifying-glass {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: var(--magnifying-glass-color);
	font-size: 16px;
}

.fa-arrow-down-wide-short,
.fa-circle-check,
.fa-plus,
.fa-floppy-disk {
	display: flex;
	font-size: 18px;
	color: var(--tools-color);
	cursor: pointer;

	&:hover {
		color: #007bff;
	}
}

/* .filter,
.select-all, */
.add-note,
.save-note,
.delete-note {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 100;
}

.hover-label {
	display: none; /* Initially hidden */
	position: absolute; /* Allows you to position the label where you want */
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--hover-label-bg);
	color: var(--hover-label-color);
	padding: 5px;
	border-radius: 5px;
	white-space: nowrap;
	font-size: 14px;
	z-index: 100; /* Ensures it appears above other content */
}

.hover-label.delete-label {
	top: 0px;
	left: -80px;
	transform: translateY(-25%);
	padding: 5px;
	font-size: 12px;
}

.add-note:hover .hover-label.add-label,
.save-note:hover .hover-label.save-label,
.delete-note:hover .hover-label.delete-label {
	display: block; /* Make the label visible on hover */
}

.delete-note {
	position: absolute;
	opacity: 0.5;
	bottom: 10px;
	right: 10px;
	z-index: 100;
	color: var(--delete-note-color);
}

.delete-note:hover {
	cursor: pointer;
	color: var(--delete-note-hover);
	opacity: 1;
	z-index: 100;
}

.note-list-wrapper {
	background: var(--note-list-wrapper-bg);
	border-right: 1px solid var(--note-list-wrapper-border);
	flex: 1;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	min-width: 300px;
	min-height: calc(100vh - 77px);
}

.note-list-items {
	overflow-y: auto;
	width: 100%;

	flex: 1;
	height: calc(100vh - 120px);
}

.note-list-item {
	position: relative;
	background: var(--note-list-item-bg);
	height: 104px;
	border-bottom: 1px solid var(--note-list-item-border);

	cursor: pointer;
	padding: 8px 15px;
}

.note-list-item:hover {
	background: var(--note-list-item-hover);
}

.note-list-item.active {
	background: var(--note-list-item-active-bg);
}

.note-list-title {
	font-size: 16px;
	font-weight: 600;
	color: var(--note-title-color);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.note-list-subtitle {
	font-size: 14px;
	color: var(--note-list-subtitle-color);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.note-list-date {
	position: absolute;
	bottom: 8px;
	left: 15px;
	font-size: 12px;
	color: var(--note-list-date-color);
}

/* Main Note Content */
.note-content-wrapper {
	position: relative;
	width: 100%;
	height: calc(100vh - 110px);
	overflow: hidden;
	padding-left: 8px;
	padding-right: 8px;
	background: var(--note-content-wrapper-bg);
}

.note-title {
	width: 100%;
	font-size: 22px;
	padding: 12px;
	padding-bottom: 6px;
	background: none;
	border: none;
	outline: none;
	color: var(--note-title-color);
}

.note-title::placeholder {
	color: var(--placeholder-color);
	opacity: var(--placeholder-opacity);
}

.note-subtitle {
	display: block;
	width: 100%;
	font-size: 16px;
	padding: 12px;
	padding-top: 6px;
	color: var(--note-subtitle-color);
	background: none;
	border: none;
	outline: none;
	border-bottom: 1px solid var(--note-subtitle-border);
}

.note-subtitle::placeholder {
	color: var(--placeholder-color);
	opacity: var(--placeholder-opacity);
}

.note-content {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100%;
	margin-top: 12px;
	font-size: 16px;
	padding: 10px;
	line-height: 1.3;
	background: none;
	border: none;
	outline: none;
	resize: none;
	color: var(--note-content-color);
}

.note-content::placeholder {
	color: var(--placeholder-color);
	opacity: var(--placeholder-opacity);
}

.main-section {
	flex: 1 1 auto;
	display: flex;
}

.content-wrapper {
	width: 100%;
	height: 100%;
}

/* Footer */
.footer {
	background: var(--footer-bg);
	padding: 2px;
	z-index: 9999;
}

/* Social Links */
.social-links {
	display: flex;
	align-items: center;
	font-size: 13px;

	gap: 7px;

	color: var(--copyright-color);

	a {
		color: var(--social-links-color);
	}

	a:hover {
		color: var(--social-links-hover-color);
	}
}

/* Note Close Btn */
.note-close-btn {
	display: none;
	opacity: 0.5;
	position: absolute;
	bottom: 50px;
	left: 223px;
	cursor: pointer;
	color: var(--note-close-btn-color);
	background: var(--note-close-btn-bg);
	padding: 7px;
	z-index: 9999;
	font-size: 24px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.note-close-btn:hover {
	color: var(--note-close-btn-hover-color);
	opacity: 1;
}

/* Media Queries */
/* Mobile */
@media (max-width: 768px) {
	.note-list-wrapper {
		min-width: 225px;
	}

	.note-list-title {
		font-size: 16px;
	}

	.note-list-subtitle {
		font-size: 14px;
	}

	.note-close-btn {
		display: block;
	}
}
